<p><strong>Name:</strong> <%= comment.name %></p>
<p><strong>Comment:</strong> <%= comment.body %></p>

<p>
  <%= link_to 'Delete Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you suure?' } %>
</p>
