<div class="card mb-3">
  <div class="card-body">
    <p><%= comment.body %></p>
    <p><%= comment.name %></p>

    <p>
      <%= link_to 'Delete Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you suure?' } %>
    </p>
  </div>
</div>
